<h1 class="mt-3">Pipes <small>Angular</small></h1>
<hr>

<div class="row">
    <div class="col">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Variable</th>
                    <th>Pipe</th>
                    <th>Salida</th>
                </tr>
            </thead>
            <tbody>
                <!--Pasar toso el nombre a mayusculas-->
                <tr>
                    <td>{{ nombre }}</td>
                    <td>uppercase</td>
                    <td>{{ nombre | uppercase }}</td>
                </tr>

                <!--Pipe capitalizado - Personalizado-->
                <tr>
                    <td>{{ nombre2 }}</td>
                    <td>capitalizado</td>
                    <td>{{ nombre2 | capitalizado}}</td>
                </tr>

                <!--Pasar todo el todo nombre a minusculas-->
                <tr>
                    <td>{{ nombre }}</td>
                    <td> lowercase </td>
                    <td>{{ nombre | lowercase }}</td>
                </tr>

                <!--Cortar o eliminar las primeras 3 posiciones del nombre-->
                <tr>
                    <td>{{ nombre }}</td>
                    <td> slice:3 </td>
                    <td>{{ nombre | slice:3 }}</td>
                </tr>

                <!--Cortar o eliminar a partir de la posicion indicada hasta la posiscion deceada del nombre-->
                <tr>
                    <td>{{ nombre }}</td>
                    <td> slice:0:3 </td>
                    <td>{{ nombre | slice:0:3 }}</td>
                </tr>

                <!--Cortar o eliminar a partir de la posicion indicada hasta la posiscion deceada del nombre-->
                <tr>
                    <td>{{ arreglo }}</td>
                    <td> slice:2:4 </td>
                    <td>{{ arreglo | slice:2:4 }}</td>
                </tr>

                <!---->
                <tr>
                    <td>{{ PI }}</td>
                    <td> number </td>
                    <td>{{ PI | number }}</td>
                </tr>

                <!---->
                <tr>
                    <td>{{ PI }}</td>
                    <td> number:'3.0-0' </td>
                    <td>{{ PI | number:'3.0-0' }}</td>
                </tr>

                <!---->
                <tr>
                    <td>{{ PI }}</td>
                    <td> number:'.0-7' </td>
                    <td>{{ PI | number:'.0-7' }}</td>
                </tr>

                <!---->
                <tr>
                    <td>{{ porcentaje }}</td>
                    <td> percent </td>
                    <td>{{ porcentaje | percent }}</td>
                </tr>

                <!---->
                <tr>
                    <td>{{ porcentaje }}</td>
                    <td> percent:'2.2-2' </td>
                    <td>{{ porcentaje | percent:'2.2-2' }}</td>
                </tr>

                <!--Formato con moneda en Dolares-->
                <tr>
                    <td>{{ salario }}</td>
                    <td> currency </td>
                    <td>{{ salario | currency }}</td>
                </tr>

                <!--Formato con moneda en Pesos Mexicanos-->
                <tr>
                    <td>{{ salario }}</td>
                    <td> currency:'MXN' </td>
                    <td>{{ salario | currency:'MXN' }}</td>
                </tr>

                <!--Formato con moneda en Pesos Mexicanos-->
                <tr>
                    <td>{{ salario }}</td>
                    <td> currency:'CAD' </td>
                    <td>{{ salario | currency:'CAD' }}</td>
                </tr>

                <!--Formato con moneda en Pesos Mexicanos-->
                <tr>
                    <td>{{ salario }}</td>
                    <td> currency:'MXN':'symbol-narrow' </td>
                    <td>{{ salario | currency:'MXN':'symbol-narrow' }}</td>
                </tr>

                <!--Formato con moneda en Pesos Mexicanos-->
                <tr>
                    <td>{{ salario }}</td>
                    <td> currency:'MXN':'symbol-narrow':'.0-0' </td>
                    <td>{{ salario | currency:'MXN':'symbol-narrow':'.0-0' }}</td>
                </tr>

                <!--Formato con moneda en Pesos Mexicanos-->
                <tr>
                    <td>{{ salario }}</td>
                    <td> currency:'MXN':'symbol':'.0-0' </td>
                    <td>{{ salario | currency:'MXN':'symbol':'.0-0' }}</td>
                </tr>

                <!---->
                <tr>
                    <td>{{ valorPromesa }}</td>
                    <td> async </td>
                    <td>{{ valorPromesa | async }}</td>
                </tr>

                <!---->
                <tr>
                    <td>{{ fecha }}</td>
                    <td> fecha | date </td>
                    <td>{{ fecha | date }}</td>
                </tr>

                <!---->
                <tr>
                    <td>{{ fecha }}</td>
                    <td> fecha | date:'short' </td>
                    <td>{{ fecha | date:'short' }}</td>
                </tr>

                <!---->
                <tr>
                    <td>{{ fecha }}</td>
                    <td> fecha | date:'medium' </td>
                    <td>{{ fecha | date:'medium' }}</td>
                </tr>

                <!---->
                <tr>
                    <td>{{ fecha }}</td>
                    <td> fecha | date:'MMMM - dd' </td>
                    <td>{{ fecha | date:'MMMM - dd' }}</td>
                </tr>

                <!---->
                <tr>
                    <td>{{ fecha }}</td>
                    <td>
                        fecha | date:'MMMM - dd':'':idioma
                        <br>
                        <button (click)="idioma='es'" class="mr-1 btn btn-primary">Español</button>
                        <button (click)="idioma='en'" class="mr-1 btn btn-secondary">Inglés</button>
                        <button (click)="idioma='fr'" class="mr-1 btn btn-success">Fránces</button>
                    </td>
                    <td>{{ fecha | date:'MMMM - dd':'':idioma }}</td>
                </tr>

                <!---->
                <tr>
                    <td>{{ nombre }}</td>
                    <td> contrasena : {{ activar }}
                        <br>
                        <button (click)="activar = !activar" class="btn btn-outline-primary">
                            Activar/Desactivar
                        </button>
                    </td>
                    <td>{{ nombre | contrasena:activar }}</td>
                </tr>
            </tbody>
        </table>

        <h3>Slice - <small>arreglo | slice:2:4</small></h3>
        <hr>
        <ul class="list-goup">
            <li *ngFor="let item of arreglo | slice:1:4" class="list-goup-item">{{ item }}</li>
        </ul>

        <h3>JSON - <small> heroe | json </small></h3>
        <hr>
        <div class="row mb-5">
            <div class="col">
                <pre>{{ heroe | json }}</pre>
            </div>
        </div>

        <h3 class="mt-4">Domseguro</h3>
        <hr>
        <div class="row mb-5">
            <div class="col">
                <iframe width="560" height="315" [src]="videoUrl | domseguro" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>
        </div>

    </div>
</div>